@import "tailwindcss";

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #000000 #1f2937;
  }
}

/* Webkit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1f2937;
}

*::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #1a1a1a;
}